<header>
    <div class="left-container">
        <a href="/" class="no-link"><div class="logo"><span>WebTech</span> Games</div></a>
    </div>
    <div class="right-container">
        <div class="signup">
            {% if request.user.is_authenticated %}
                Welcome, {{ request.user.first_name }}!
                <a class="button red" onclick="logoutUser()">Log Out</a>
            {% else %}
                <a class="button green" onclick="showPopup('sign-in')">Sign In</a><a
                    class="button blue"
                    onclick="showPopup('sign-up')">Sign Up</a>
            {% endif %}
        </div>
    </div>
</header>